<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript">
      function PopUp(hideOrshow, hideorShowChat) {
        if (hideOrshow == 'hide') {
          document.getElementById('ac-wrapper').style.display = 'none';
          document.getElementById('chat-zone').style.display = '';
        } else document.getElementById('ac-wrapper').removeAttribute('style');
      }
      window.onload = function() {
        PopUp('show');
      };
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>Simple Chat App</title>
  </head>

  <body>
    <header>
      <h1>Super Chat</h1>
    </header>

    <div id="ac-wrapper">
      <div id="popup">
        <section>
          <div id="change_username">
            <input id="username" type="text" />
            <button id="send_username" class="submit_on_enter" type="button" onClick="PopUp('hide')">Как вас зовут?</button>
          </div>
        </section>
      </div>
    </div>

    <div id="chat-zone" style="display: none">
      <section id="input_zone">
        <button id="send_message" class="submit_on_enter" class="vertical-align" type="button">Send</button>
        <input id="message" class="vertical-align" type="text" />
      </section>
      <section id="chatroom">
        <section id="feedback"></section>
      </section>
    </div>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/chat.js"></script>
  </body>
</html>
