<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <title>Simple Chat App</title>
  </head>

  <body>
    <header>
      <h1>Super Chat</h1>
    </header>

    <form id="myForm">
      <div>
        <input name="name" id="name" value="Name" />
      </div>
      <div>
        <input name="email" id="email" value="Email" />
      </div>
      <div>
        <input name="password" id="password" value="Pass" />
      </div>
      <div>
        <button id="sendForm" value="Submit" type="submit">Send</button>
      </div>
    </form>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/singIn.js"></script>
  </body>
</html>
